<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>id</key>
			<string>it3m1</string>
			<key>name</key>
			<string>Tostada Especial</string>
			<key>category</key>
			<string>tacos</string>
			<key>restaurant</key>
			<string>Restaurant Don Pepe</string>
			<key>location</key>
			<string>25.630229,-100.272696</string>
			<key>user</key>
			<string>malvaradov10</string>
			<key>image</key>
			<string>img1.jpg</string>
			<key>review</key>
			<string>&quot; Excelente comida, lo recomiendo ampliamente, pruebenlo ya! &quot;</string>
		</dict>
		<dict>
			<key>id</key>
			<string>it3m2</string>
			<key>name</key>
			<string>Combo Ensalada Pita</string>
			<key>category</key>
			<string>salads</string>
			<key>restaurant</key>
			<string>Super Salad</string>
			<key>location</key>
			<string>25.630229,-100.272696</string>
			<key>user</key>
			<string>malvaradov10</string>
			<key>image</key>
			<string>img2.jpg</string>
			<key>review</key>
			<string>&quot; He probado mejores cosas, la verdad puede ser mejor &quot;</string>
		</dict>
		<dict>
			<key>id</key>
			<string>it3m3</string>
			<key>name</key>
			<string>Hamburgesa Doble</string>
			<key>category</key>
			<string>hamburgers</string>
			<key>restaurant</key>
			<string>Hamburgesas Rayo</string>
			<key>location</key>
			<string>25.630229,-100.272696</string>
			<key>user</key>
			<string>malvaradov10</string>
			<key>image</key>
			<string>img3.jpg</string>
			<key>review</key>
			<string>&quot; El servicio es pesimo, no me gusto tampoco el platillo &quot;</string>
		</dict>
		<dict>
			<key>id</key>
			<string>it3m5</string>
			<key>name</key>
			<string>Bebida Roja</string>
			<key>category</key>
			<string>drinks</string>
			<key>restaurant</key>
			<string>Laposeria</string>
			<key>location</key>
			<string>25.630229,-100.272696</string>
			<key>user</key>
			<string>none</string>
			<key>image</key>
			<string>img5.jpg</string>
			<key>review</key>
			<string>&quot; At prima dissentias mea. Ne vidit mediocrem dissentiet vix, animal democritum et eum, alii expetenda has ei. &quot;</string>
		</dict>
		<dict>
			<key>id</key>
			<string>it3m4</string>
			<key>name</key>
			<string>Papas Trup</string>
			<key>category</key>
			<string>hamburgers</string>
			<key>restaurant</key>
			<string>Hamburgesas Rayo</string>
			<key>location</key>
			<string>25.630229,-100.272696</string>
			<key>user</key>
			<string>none</string>
			<key>image</key>
			<string>img4.jpg</string>
			<key>review</key>
			<string>&quot;Sabe muy mal&quot;</string>
		</dict>
		<dict>
			<key>id</key>
			<string>it3m7</string>
			<key>name</key>
			<string>Garlic Pizza</string>
			<key>category</key>
			<string>pizza</string>
			<key>restaurant</key>
			<string>Papa Pizza</string>
			<key>location</key>
			<string>25.630229,-100.272696</string>
			<key>user</key>
			<string>malvaradov10</string>
			<key>image</key>
			<string>img7.jpg</string>
			<key>review</key>
			<string>&quot; Esta pizza esta muy rica, el queso muy bien, ademas de la masa&quot;</string>
		</dict>
		<dict>
			<key>id</key>
			<string>it3m8</string>
			<key>name</key>
			<string>Pepperoni Pizza</string>
			<key>category</key>
			<string>pizza</string>
			<key>restaurant</key>
			<string>Papa Pizza</string>
			<key>location</key>
			<string>25.630229,-100.272696</string>
			<key>user</key>
			<string>none</string>
			<key>image</key>
			<string>img8.jpg</string>
			<key>review</key>
			<string>&quot; At prima dissentias mea. Ne vidit mediocrem dissentiet vix, animal democritum et eum, alii expetenda has ei. &quot;</string>
		</dict>
		<dict>
			<key>id</key>
			<string>it3m9</string>
			<key>name</key>
			<string>Crispy Chicken</string>
			<key>category</key>
			<string>salads</string>
			<key>restaurant</key>
			<string>Super Salads</string>
			<key>location</key>
			<string>25.630229,-100.272696</string>
			<key>user</key>
			<string>none</string>
			<key>image</key>
			<string>img9.jpg</string>
			<key>review</key>
			<string>&quot; At prima dissentias mea. Ne vidit mediocrem dissentiet vix, animal democritum et eum, alii expetenda has ei. &quot;</string>
		</dict>
		<dict>
			<key>id</key>
			<string>it3m12</string>
			<key>name</key>
			<string>Tacos Trompo</string>
			<key>category</key>
			<string>tacos</string>
			<key>restaurant</key>
			<string>El Rayo</string>
			<key>location</key>
			<string>25.630229,-100.272696</string>
			<key>user</key>
			<string>malvaradov10</string>
			<key>image</key>
			<string>img12.jpg</string>
			<key>review</key>
			<string>&quot; At prima dissentias mea. Ne vidit mediocrem dissentiet vix, animal democritum et eum, alii expetenda has ei. &quot;</string>
		</dict>
		<dict>
			<key>id</key>
			<string>it3m13</string>
			<key>name</key>
			<string>Sandwich Carne</string>
			<key>category</key>
			<string>tacos</string>
			<key>restaurant</key>
			<string>El Rayo</string>
			<key>location</key>
			<string>25.630229,-100.272696</string>
			<key>user</key>
			<string>malvaradov10</string>
			<key>image</key>
			<string>img13.jpg</string>
			<key>review</key>
			<string>&quot; At prima dissentias mea. Ne vidit mediocrem dissentiet vix, animal democritum et eum, alii expetenda has ei. &quot;</string>
		</dict>
		<dict>
			<key>id</key>
			<string>it3m14</string>
			<key>name</key>
			<string>Sandwich Vegetariano</string>
			<key>category</key>
			<string>salads</string>
			<key>restaurant</key>
			<string>Super Salads</string>
			<key>location</key>
			<string>25.630229,-100.272696</string>
			<key>user</key>
			<string>malvaradov10</string>
			<key>image</key>
			<string>img6.jpg</string>
			<key>review</key>
			<string>&quot; At prima dissentias mea. Ne vidit mediocrem dissentiet vix, animal democritum et eum, alii expetenda has ei. &quot;</string>
		</dict>
		<dict>
			<key>id</key>
			<string>it3m14</string>
			<key>name</key>
			<string>Blue Cake</string>
			<key>category</key>
			<string>drinks</string>
			<key>restaurant</key>
			<string>Deli Cup Cakes</string>
			<key>location</key>
			<string>25.630229,-100.272696</string>
			<key>user</key>
			<string>none</string>
			<key>image</key>
			<string>img10.jpg</string>
			<key>review</key>
			<string>&quot; At prima dissentias mea. Ne vidit mediocrem dissentiet vix, animal democritum et eum, alii expetenda has ei. &quot;</string>
		</dict>
	</array>
</dict>
</plist>
